@-ms-viewport {
	width: device-width
}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar
}

*, *::before, *::after {
	box-sizing: inherit
}

body {
	font-size: 16px;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
*:link,
*:visited,
*:hover,
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
* {
	outline: none !important;
}
img {
	display: block;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 920px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

.wrapper {
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 150%;
	color: #282B29;
	background: #fdfdfd;
}


.header {
	top: 40px;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 400;
	transition: all 0.3s;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo img {
	width: 151px;
	display: block;
}
.menu__list {
	gap: 40px;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.menu__list a {
	font-weight: 600;
	text-decoration: none;
	color: #282B29;
	border-bottom: 1px transparent solid;
	transition: all 0.3s;
}
.menu__list>li {
	gap: 6px;
	position: relative;
	display: flex;
	align-items: center;
}
.menu__arrow {
	width: 10px;
	height: 9px;
	background-image: url(../img/arrow1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.3s;
	cursor: pointer;
}
.menu__list li ul {
	width: 300px;
	padding: 15px;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 6px;
	top: 100%;
	left: 0;
	list-style-type: none;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 15px;
	transition: all 0.3s;
	position: absolute;
	transform: translateY(15px);
}
.menu__list li ul::before {
	position: absolute;
	display: block;
	content: " ";
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 15px;
}
.menu__list li:hover ul {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.menu__list li ul li {
	margin-bottom: 8px;
}
.menu__list li ul li:last-child {
	margin-bottom: 0;
}
.phone-main {
	gap: 6px;
	color: #282B29;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-weight: 600;
}
.phone-main img {
	display: block;
}
.header__wrapper .phone-main {
	margin-left: -30px;
}
.header__wrapper .socials-main {
	margin-right: 15px;
}
.socials-main li {
	list-style-type: none;
}
.socials-main {
	gap: 6px;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}
.socials-main img {
	width: 16px;
	height: auto;
	display: block;
}
.header__search input {
	height: 45px;
	padding-left: 54px;
	font-size: 16px;
	line-height: 150%;
	padding-right: 15px;
	font-weight: 600;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fff;
	width: 100%;
	color: #282B29;
	border: 1px solid #dcdcdc;
	border-radius: 6px;
	font-family: "Montserrat";
	background-image: url(../img/search1.svg);
	background-repeat: no-repeat;
	background-position: center left 20px;
}
.header__search *::-webkit-input-placeholder {
	color: #282B29;
	opacity: 1;
}
.header__search *:-moz-placeholder {
	color: #282B29;
	opacity: 1;
}
.header__search *::-moz-placeholder {
	color: #282B29;
	opacity: 1;
}
.header__search *:-ms-input-placeholder {
	color: #282B29;
	opacity: 1;
}
.search-wrap {
	position: relative;
	z-index: 5;
}
.open-search {
	width: 45px;
	height: 45px;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
}
.open-search::after,
.open-search::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
	background-image: url(../img/search1.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.open-search::after {
	background-image: url(../img/close.svg);
	background-size: 17px auto;
	opacity: 0;
}
.search-wrap.active .open-search::before {
	opacity: 0;
}
.search-wrap.active .open-search::after {
	opacity: 1;
}
.header__search {
	width: 0;
	overflow: hidden;
	top: 0;
	right: 100%;
	position: absolute;
	z-index: 5;
	transition: all 0.3s;
}
.search-wrap.active .header__search {
	width: 411px;
}
.header__right {
	gap: 22px;
	display: flex;
	align-items: center;
}
.dropdown-main a {
	font-weight: 600;
	color: #282B29;
	text-decoration: none;
}
.dropdown-main {
	position: relative;
}
.dropdown-main__dropdown {
	padding: 15px;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid #dcdcdc;
	border-radius: 6px;
	top: 100%;
	left: 0;
	white-space: nowrap;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	transform: translateY(15px);
}
.dropdown-main:hover .dropdown-main__dropdown {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.dropdown-main__dropdown ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.dropdown-main__dropdown ul li {
	margin-bottom: 10px;
}
.dropdown-main__dropdown ul li:last-child {
	margin-bottom: 0;
}
.dropdown-main__arrow {
	width: 10px;
	height: 9px;
	background-image: url(../img/arrow1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.3s;
	cursor: pointer;
}
.dropdown-main__value {
	gap: 6px;
	display: flex;
	align-items: center;
}

.billbord {
	padding-top: 153px;
	min-height: 800px;
	text-align: center;
	background-size: cover;
	font-family: "Montserrat";
	position: relative;
	z-index: 1;
}
.video-main video {
	position: absolute;
	left: 50%;
	top: 50%;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	transform: translate(-50%, -50%);
}
.video-main {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.video-main::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #fff 3.41%, rgba(255, 255, 255, 0) 73.98%);

}
.billbord__content {
	max-width: 948px;
	margin: 0 auto;
}
.cta__title,
.billbord__title {
	font-size: 70px;
	margin-bottom: 20px;
	margin-top: 0;
	line-height: 130%;
	text-transform: uppercase;
	font-weight: 700;
}
.billbord__descr {
	font-size: 24px;
	margin-bottom: 40px;
	line-height: 150%;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
}
.billbord__text {
	font-size: 18px;
	max-width: 810px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	line-height: 150%;
	font-weight: 600;
}
.btn-main {
	height: 64px;
	font-size: 16px;
	padding: 0 32px;
	border-radius: 6px;
	line-height: 150%;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	font-weight: 700;
	color: #fff;
	background: #00B10C;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s;
	border: none;
	font-family: "Montserrat";
}

.head-section {
	padding-top: 100px;
	padding-bottom: 60px;
	text-align: center;
	font-family: "Montserrat";
}
.name-section {
	font-size: 16px;
	padding: 10px 21px;
	margin-bottom: 24px;
	font-weight: 600;
	border-radius: 6px;
	margin-top: 0;
	line-height: 150%;
	background: #EFFFE0;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	color: #017601;
}
.title-section {
	font-size: 30px;
	line-height: 150%;
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
	color: #282B29;
}
.offers__image img {
	border-radius: 6px;
	max-width: 100%;
	height: auto;
	display: block;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
}
.advantages__item,
.offers__item {
	padding: 40px;
	border-radius: 6px;
	min-height: 100%;
	border: 1px solid #D8D8D8;
	box-shadow: 0 25px 25px 0 rgba(198, 231, 218, 0.1);
	transition: all 0.3s;
	background: #fff;
}
.advantages__icon,
.offers__icon {
	width: 59px;
	height: 59px;
	margin-bottom: 24px;
	border-radius: 8px;
	background: #EFFFE0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.advantages__icon img,
.offers__icon img {
	max-width: 100%;
	max-height: 100%;
}
.advantages__item p,
.offers__item p {
	margin-bottom: 20px;
	margin-top: 0;
	color: #454545;
}
.offers__item p:last-child,
.advantages__item p:last-child {
	margin-bottom: 0;
}
.offers__title {
	font-size: 24px;
	margin-bottom: 36px;
	line-height: 150%;
	font-weight: 700;
	color: #282B29;
	display: block;
}
.offers__item:hover,
.advantages__item:hover {
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #C6FF80;
}
.offers__item:hover .offers__icon,
.advantages__item:hover .advantages__icon {
	background: #fff;
}
.offers__top {
	gap: 24px;
	padding-bottom: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.offers__head {
	padding: 30px;
	font-size: 18px;
	margin-bottom: 20px;
	border-radius: 6px;
	line-height: 150%;
	background: #00B10C;
	font-weight: 600;
	color: #fff;
}
.offers__text {
	padding: 20px 30px;
}
.offers__text p {
	margin-bottom: 25px;
	margin-top: 0;
}
.offers__text strong {
	font-weight: 600;
}
.offers__text p:last-child {
	margin-bottom: 0;
}
.info-about {
	font-size: 18px;
	padding: 30px;
	max-width: 756px;
	border-radius: 6px;
	margin: 0 auto;
	background: #C6FF80;
	text-align: center;
	line-height: 150%;
	font-weight: 600;
}
.offers {
	padding-top: 67px;
}
.offers .head-section {
	padding-top: 80px;
}
.offers__grid {
	gap: 36px 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.offers__right {
	padding-left: 30px;
}

.markets {
	padding-top: 50px;
	padding-bottom: 150px;
}
.grid-main {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.item-card {
	padding: 30px 19px;
	font-size: 18px;
	line-height: 150%;
	color: #454545;
	border-radius: 6px;
	display: block;
	min-height: 100%;
	border: 1px solid #D8D8D8;
	text-decoration: none;
	transition: all 0.3s;
}
.item-card__image {
	height: 279px;
	margin-bottom: 24px;
	border-radius: 6px;
	width: 100%;
	display: block;
}
.item-card__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
}
.item-card__title {
	margin-bottom: 16px;
	font-weight: 600;
	color: #282B29;
	display: block;
	text-decoration: none;
}
.item-card__text {
	display: block;
}
.markets .head-section {
	padding-bottom: 40px;
}

.cta {
	padding: 126px 0;
	text-align: center;
	color: #fff;
	background-image: url(../img/bg_cta2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	z-index: 2;
	font-family: "Montserrat";
}
.cta__title {
	margin-bottom: 24px;
}
.cta__descr {
	font-size: 19px;
	max-width: 624px;
	margin: 0 auto;
	margin-bottom: 34px;
	line-height: 150%;
	font-weight: 700;
}

.history {
	padding: 150px 0;
	font-size: 18px;
	line-height: 150%;
	color: #454545;
}
.history__wrap {
	gap: 24px;
	grid-template-columns: 1fr 1fr;
	display: grid;
}
.history .head-section {
	padding-bottom: 40px;
	max-width: 580px;
	text-align: left;
	padding-top: 0;
}
.history__descr {
	margin-bottom: 40px;
}
.history__image img {
	max-width: 100%;
	border-radius: 6px;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	height: auto;
	display: block;
}
.timeline {
	margin-left: 63px;
	margin-top: 62px;
	position: relative;
}
.timeline::before {
	position: absolute;
	display: block;
	content: " ";
	top: 15px;
	bottom: 7px;
	left: 0;
	width: 2px;
	background: #b0eab7;
}
.timeline__item {
	margin-bottom: 46px;
	padding-left: 34px;
	position: relative;
}
.timeline__item::before {
	position: absolute;
	display: block;
	content: " ";
	top: 11px;
	left: -6px;
	width: 14px;
	height: 14px;
	background: #00B10C;
	border-radius: 50%;
}
.timeline__item:last-child {
	margin-bottom: 0;
}
.timeline__year {
	padding: 6px 14px;
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 150%;
	color: #017601;
	font-weight: 600;
	border-radius: 6px;
	background: #EFFFE0;
	display: inline-block;
	vertical-align: middle;
}
.timeline__title {
	font-size: 19px;
	margin-bottom: 12px;
	line-height: 150%;
	font-weight: 700;
}
.timeline__title span {
	color: #77da42;
}
.timeline__item p {
	margin-bottom: 25px;
	margin-top: 0;
}
.timeline__item p:last-child {
	margin-bottom: 0;
}
.history__main {
	top: 0;
	position: sticky;
	transition: all 0.3s;
}

.advantages {
	padding-top: 107px;
	padding-bottom: 78px;
	background-image: url(../img/bg_advantages.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.advantages .head-section {
	max-width: 880px;
	padding-bottom: 40px;
	padding-top: 0;
	margin: 0 auto;
	color: #fff;
}
.advantages__wrap {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.advantages__wrap>div:last-child {
	grid-column: span 2;
}
.advantages .title-section {
	color: #fff;
}
.descr-section {
	font-size: 18px;
	margin-top: 20px;
	line-height: 150%;
	font-weight: 600;
}
.advantages__item {
	padding: 30px 19px;
}
.advantages__icon {
	margin-bottom: 20px;
}
.advantages__title {
	font-size: 18px;
	margin-bottom: 16px;
	line-height: 150%;
	font-weight: 600;
}

.about-us {
	padding-top: 150px;
}
.about-us .head-section {
	padding: 0;
	padding-bottom: 32px;
	text-align: left;
}
.about-us p {
	margin-bottom: 20px;
	margin-top: 0;
}
.about-us p:last-child {
	margin-bottom: 0;
}
.about-us__image {
	margin-left: -12px;
	height: 486px;
	border-radius: 6px;
}
.about-us__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
}
.about-us__info {
	padding: 27px 20px;
	font-size: 18px;
	margin-right: 19px;
	margin-top: 28px;
	line-height: 150%;
	border-radius: 6px;
	font-weight: 600;
	color: #fff;
	background: #00B10C;
}
.about-us__main {
	margin-right: 89px;
	font-size: 18px;
}
.about-us__item {
	padding: 29px 19px;
	margin-bottom: 18px;
	gap: 20px;
	border-radius: 6px;
	border: 1px solid #D8D8D8;
	display: flex;
	align-items: center;
	font-weight: 600;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
}
.about-us__item:last-child {
	margin-bottom: 0;
}
.about-us__items {
	margin-right: 50px;
	margin-left: -48px;
}
.about-us__icon {
	width: 46px;
	height: 46px;
	border-radius: 6px;
	background: #EFFFE0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.about-us__icon img {
	max-width: 100%;
	max-height: 100%;
}
.about-us__wrap {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 24px;
}
.about-us__wrap>div:nth-child(1) {
	grid-column: span 5;
}
.about-us__wrap>div:nth-child(2) {
	grid-column: span 3;
}
.about-us__wrap>div:nth-child(3) {
	grid-column: span 4;
}

.callback__block {
	padding: 67px;
	padding-bottom: 55px;
	background-color: #C6FF80;
	background-image: url(../img/bg_callback.svg);
	background-repeat: no-repeat;
	background-position: center right 99px;
	background-size: auto 100%;
}
.callback .title-section {
	max-width: 742px;
	margin-bottom: 39px;
	font-weight: 700;
}

.joining {
	padding: 150px 0;
}
.joining .head-section {
	max-width: 515px;
	padding-bottom: 40px;
	text-align: left;
	padding-top: 0;
}
.joining .descr-section {
	font-weight: 400;
}
.joining__wrap {
	gap: 24px;
	grid-template-columns: 1fr 1fr;
	display: grid;
	align-items: flex-end;
}
.joining__steps {
	gap: 24px;
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
}
.joining__step {
	padding: 19px;
	border-radius: 6px;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fff;
	min-height: 100%;
	border: 1px solid #D8D8D8;
}
.joining__count {
	width: 60px;
	height: 60px;
	margin-bottom: 27px;
	font-size: 26px;
	line-height: 150%;
	color: #017601;
	font-weight: 700;
	border-radius: 8px;
	background: #EFFFE0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.joining__step p {
	margin: 0;
}
.table-main {
	padding: 30px 66px;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fff;
	border-radius: 6px;
	border: 1px solid #D8D8D8;
}
.table-main table {
	width: 100%;
	border-spacing: 0;
}
.table-main th {
	font-weight: 600;
	text-align: left;
}
.table-main th:last-child,
.table-main td:last-child {
	text-align: right;
}
.table-main td {
	font-size: 18px;
	border-bottom: 1px rgba(216, 216, 216, 0.49) solid;
	line-height: 150%;
}
.table-main tr:last-child td {
	border: none;
}
.table-main th,
.table-main td {
	padding: 14px 15px;
}
.table-main td:first-child {
	width: 35%;
}
.value-td {
	min-width: 80px;
	display: inline-block;
	vertical-align: middle;
}

.parametrs {
	padding-bottom: 126px;
}
.parametrs .descr-section {
	max-width: 1000px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 400;
}
.parametrs__grid {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.parametrs .head-section {
	padding-top: 0;
}
.parametrs__text p {
	margin-bottom: 30px;
	margin-top: 0;
}
.parametrs__text p:last-child {
	margin-bottom: 0;
}
.parametrs__text {
	font-size: 18px;
	line-height: 150%;
}
.parametrs__text strong {
	font-weight: 600;
}
.parametrs__item {
	padding: 16px 24px;
	gap: 24px;
	margin-bottom: 20px;
	border: 1px solid #D8D8D8;
	border-radius: 6px;
	display: flex;
	align-items: center;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fff;
	transition: all 0.3s;
}
.parametrs__item:last-child {
	margin-bottom: 0;
}
.parametrs__value {
	width: 196px;
	font-weight: 600;
	flex: none;
}
.parametrs__item p {
	margin: 0;
}

.partners {
	padding-bottom: 150px;
}
.partners .head-section {
	padding-top: 0;
}
.partners__line {
	gap: 60px 110px;
	margin: 0 auto;
	max-width: 1077px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.partners__item img {
	max-height: 41px;
	width: auto;
}

.chief {
	padding-bottom: 150px;
}
.chief__block {
	padding: 30px;
	font-size: 20px;
	line-height: 150%;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fff;
	border: 1px solid #D8D8D8;
}
.chief__wrap {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.chief__block strong {
	font-weight: 600;
}
.chief__title {
	font-size: 24px;
	margin-bottom: 28px;
	line-height: 150%;
	font-weight: 600;
	color: #000;
}
.chief__subtitle {
	margin-top: 28px;
	font-weight: 600;
	margin-bottom: 2px;
	font-size: inherit;
	color: #00B10C;
}
.chief__block p {
	margin: 0;
}
.chief__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.chief__name {
	font-size: 24px;
	font-weight: 600;
	margin: 0;
	line-height: 150%;
	color: #00B10C;
}
.chief__logo img {
	width: 167px;
}
.chief__image {
	height: 349px;
	margin-right: 25px;
}
.chief__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
}
.chief__content {
	padding-right: 20px;
	padding-left: 10px;
}

.numbers {
	padding-bottom: 150px;
}
.numbers__item {
	font-size: 18px;
	padding: 35px 40px;
	padding-bottom: 54px;
	min-height: 100%;
	line-height: 150%;
	color: #454545;
	border: 1px solid #D8D8D8;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	text-align: center;
	background: #fff;
	border-radius: 6px;
	position: relative;
}
.numbers__value {
	font-size: 50px;
	margin-bottom: 15px;
	line-height: 120%;
	margin-top: 0;
	font-weight: 600;
	color: #00B10C;
}
.numbers__item p {
	margin: 0;
}
.numbers__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.numbers__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 6px;
}
.numbers__wrap {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.consultation {
	padding: 73px 0;
	position: relative;
	z-index: 3;
}
.consultation .title-section {
	font-weight: 700;
}
.consultation .head-section {
	padding-bottom: 40px;
	padding-top: 0;
}
.consultation .descr-section {
	max-width: 740px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 400;
}
.consultation__form {
	max-width: 470px;
	margin: 0 auto;
}
.item-form {
	margin-bottom: 20px;
	position: relative;
}
.item-form__descr {
	font-size: 12px;
	line-height: 150%;
	font-weight: 600;
	position: absolute;
	top: 0;
	left: 127px;
	height: 100%;
	display: flex;
	align-items: center;
	pointer-events: none;
}
.item-form textarea,
.item-form select,
.item-form input {
	height: 67px;
	padding: 0 20px;
	font-size: 16px;
	line-height: 150%;
	font-weight: 600;
	border: 1px solid #dcdcdc;
	border-radius: 6px;
	color: #454545;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fff;
	font-family: "Montserrat";
	width: 100%;
}
.item-form_capacity .item-form__descr {
	left: 104px;
}
.item-form_power input {
	padding-right: 104px;
}
.item-form_capacity input {
	padding-right: 125px;
}
.item-form select::-ms-expand {
	display: none;
}
.item-form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(../img/select.svg);
	background-repeat: no-repeat;
	background-position: right 15px center;
	padding-right: 25px;
	cursor: pointer;
}
.item-form *::-webkit-input-placeholder {
	color: #454545;
	opacity: 1;
}
.item-form *:-moz-placeholder {
	color: #454545;
	opacity: 1;
}
.item-form *::-moz-placeholder {
	color: #454545;
	opacity: 1;
}
.item-form *:-ms-input-placeholder {
	color: #454545;
	opacity: 1;
}
.consultation .btn-main {
	margin-top: 8px;
	width: 100%;
}
.image-bottom {
	margin: -1px 0;
	background: #C6FF80;
}
.image-bottom img {
	width: 100%;
	height: auto;
	display: block;
}
.consultation__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 10px;
}
.consultation__grid .item-form:nth-child(1),
.consultation__grid .item-form:nth-child(4) {
	grid-column: span 2;
}

.footer {
	padding-bottom: 77px;
	background: #3a3a3a;
	color: #fff;
	max-width: 100% !important;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
.footer__title {
	font-size: 20px;
	margin-bottom: 24px;
	line-height: 150%;
	font-weight: 700;
}
.footer__nav {
	max-width: 220px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.footer__nav li {
	margin-bottom: 16px;
	font-weight: 600;
}
.footer__nav li:last-child {
	margin-bottom: 0;
}
.footer__nav a {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s;
	border-bottom: 1px transparent solid;
}
.footer__descr {
	margin-top: 41px;
	margin-bottom: 16px;
}
.footer__logo img {
	width: 182px;
}
.footer__wrap {
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.footer__link {
	font-weight: 600;
	color: #00B10C;
	text-decoration: none;
	border-bottom: 1px transparent solid;
	transition: all 0.3s;
}
.footer__location {
	margin-bottom: 20px;
}
.footer__contact {
	margin-bottom: 16px;
	font-weight: 600;
}
.footer__contact a {
	color: #fff;
	text-decoration: none;
}
.footer .btn-main {
	margin-top: 12px;
}
.socials-list {
	gap: 24px;
	display: flex;
	align-items: center;
	padding: 0;
	list-style-type: none;
	margin: 0;
}
.socials-list a {
	width: 41px;
	height: 41px;
	border-radius: 6px;
	background: #00B10C;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.socials-list img {
	max-width: 100%;
	max-height: 100%;
}
.footer .socials-list {
	margin-top: 41px;
}
.footer__copyright {
	font-size: 12px;
	margin-top: 37px;
	line-height: 150%;
}
.slick-dots {
	gap: 12px;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.slick-dots li {
	width: 11px;
	height: 11px;
	margin: 0;
	transition: all 0.3s;
}
.slick-dots li button {
	width: 11px;
	height: 11px;
	background: #797979;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 1;
	display: block;
	font-size: 0;
	color: transparent;
}
.slick-dots li.slick-active button {
	background: #00B10C;
}
.slick-dots li button::before {
	display: none;
}
.wow {
	visibility: hidden;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}


.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}
.link-main {
	font-size: 14px;
	line-height: 150%;
	font-weight: 700;
	color: #00B10C;
	border-bottom: 1px #00B10C solid;
	text-decoration: none;
	transition: all 0.3s;
}

footer .animation {
	background: repeat-x 0 100% url("../img/footer_back.webp");
	padding: 0 10px;
}

footer .animation .footer_city {
	position: relative;
	max-width: 956px;
	width: 100%;
	margin: auto;
}

footer .animation .footer_city img {
	width: 100%;
}

footer .animation .footer_city .propeller {
	position: absolute;
	width: 4.8%;
	top: 1%;
}

footer .animation .footer_city .propeller:nth-child(2) {
	right: 14.8%;
	-webkit-animation: propeller linear 3s infinite;
	animation: propeller linear 3s infinite;
}

footer .animation .footer_city .propeller:nth-child(3) {
	right: 7.4%;
	-webkit-animation: propeller linear 2s infinite;
	animation: propeller linear 2s infinite;
}

footer .animation .footer_city .propeller:nth-child(4) {
	right: 0;
	-webkit-animation: propeller linear 1s infinite;
	animation: propeller linear 1s infinite;
}

footer .animation .footer_city .light {
	position: absolute;
	width: 2.824%;
	top: 20%;
	right: 15.9%;
	-webkit-animation: light linear 6s infinite;
	animation: light linear 6s infinite;
}

footer .animation .footer_city .light_window {
	width: 1.036%;
	height: 9.846%;
	background: #f0e930;
	position: absolute;
	opacity: 0;
}

footer .animation .footer_city .light_window.n1 {
	top: 48.9%;
	left: 2.05%;
	width: 0.7%;
	height: 7%;
	-webkit-animation: light_window 6s linear 8s infinite;
	animation: light_window 6s linear 8s infinite;
}

footer .animation .footer_city .light_window.n2 {
	top: 38%;
	left: 11.45%;
	-webkit-animation: light_window 6s linear 7.5s infinite;
	animation: light_window 6s linear 7.5s infinite;
}

footer .animation .footer_city .light_window.n3 {
	width: 0.627%;
	height: 6.153%;
	top: 62.8%;
	left: 16.9%;
	-webkit-animation: light_window 6s linear 7s infinite;
	animation: light_window 6s linear 7s infinite;
}

footer .animation .footer_city .light_window.n4 {
	top: 38%;
	left: 28.75%;
	-webkit-animation: light_window 6s linear 6.5s infinite;
	animation: light_window 6s linear 6.5s infinite;
}

@-webkit-keyframes propeller {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes propeller {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes light {
	0% {
		top: 20%;
		right: 15.9%;
	}

	10% {
		top: 43%;
		right: 20.92%;
	}

	20% {
		top: 50%;
		right: 25.94%;
	}

	30% {
		top: 50%;
		right: 30.96%;
	}

	40% {
		top: 40%;
		right: 35.98%;
	}

	50% {
		top: 10%;
		right: 41%;
	}

	60% {
		top: 45%;
		right: 45.3%;
	}

	70% {
		top: 65%;
		right: 49.6%;
	}

	80% {
		top: 76%;
		right: 53.9%;
	}

	90% {
		top: 81%;
		right: 58.2%;
	}

	100% {
		top: 75%;
		right: 62.5%;
	}
}

@keyframes light {
	0% {
		top: 20%;
		right: 15.9%;
	}

	10% {
		top: 43%;
		right: 20.92%;
	}

	20% {
		top: 50%;
		right: 25.94%;
	}

	30% {
		top: 50%;
		right: 30.96%;
	}

	40% {
		top: 40%;
		right: 35.98%;
	}

	50% {
		top: 10%;
		right: 41%;
	}

	60% {
		top: 45%;
		right: 45.3%;
	}

	70% {
		top: 65%;
		right: 49.6%;
	}

	80% {
		top: 76%;
		right: 53.9%;
	}

	90% {
		top: 81%;
		right: 58.2%;
	}

	100% {
		top: 75%;
		right: 62.5%;
	}
}

@-webkit-keyframes light_window {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes light_window {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
.footer .animation {
	margin-bottom: 70px;
	position: relative;
	top: -1px;
	z-index: 2;
	background-color: #fff;
}
.item-card .link-main {
	font-weight: 600;
	margin-top: auto;
	font-size: inherit;
}
.news .head-section {
	padding-bottom: 40px;
	padding-top: 0;
}
.news {
	padding-bottom: 150px;
}
.news .item-card__title {
	margin-bottom: 30px;
}
.news .item-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.news__button {
	padding-top: 30px;
	text-align: center;
}
.news__button .btn-main {
	width: 291px;
	padding: 0 10px;
}
.slider-news .slick-track {
	display: flex !important;
}
.slider-news .slick-slide {
	padding: 0 12px;
	height: inherit !important;
}
.slider-news .slick-list {
	margin: 0 -12px;
}
.slider-news:not(.slick-initialized)>*:not(:first-child) {
	display: none;
}

.modal-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 700;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-content {
	padding: 50px 100px;
	width: 1700px;
	font-size: 15px;
	border-radius: 30px;
	max-width: 100%;
	line-height: 120%;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fdfdfd;
	font-family: "Montserrat";
	color: #282B29;
	position: relative;
}
.modal-overlay {
	background: rgba(206, 206, 206, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.title-modal {
	font-size: 30px;
	margin-bottom: 60px;
	text-align: center;
	line-height: 150%;
	text-transform: uppercase;
	font-weight: 600;
}
.modal-close {
	width: 40px;
	height: 40px;
	top: 40px;
	right: 40px;
	background: #000;
	border-radius: 50%;
	background-image: url(../img/close2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px auto;
	cursor: pointer;
	transition: all 0.3s;
	position: absolute;
}
.grid-modal {
	gap: 26px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.title-info {
	padding: 0 25px;
	padding-bottom: 20px;
	font-size: 18px;
	line-height: 150%;
	font-weight: 600;
}
.info-main {
	padding: 25px;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fff;
	border-radius: 6px;
	border: 1px solid #D8D8D8;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}
.line-info {
	gap: 10px;
	margin-bottom: 33px;
	letter-spacing: -0.02em;
	color: #000;
	padding-bottom: 20px;
	font-weight: 600;
	border-bottom: 1px solid #D8D8D8;
	display: grid;
	width: 100%;
	grid-template-columns: 1.2fr 1fr;
}
.line-info__value {
	color: #00B10C;
}
.line-info:last-child {
	margin-bottom: 0 !important;
}
.grid-modal__column {
	display: flex;
	flex-direction: column;
}
.info-main.info-main_primary {
	background: #C6FF80;
	border: none;
}
.info-main.info-main_primary .line-info {
	margin-bottom: 18px;
	border-color: #454545;
}
.info-main.info-main_primary .line-info__value {
	color: #282B29;
}
.modal-content__inner {
	padding-right: 40px;
	max-height: 70vh;
	padding-bottom: 70px;
	overflow: auto;
	position: relative;
}
.modal-content__inner::-webkit-scrollbar {
	-webkit-appearance: none;
}
.modal-content__inner::-webkit-scrollbar:vertical {
	width: 5px;
}
.modal-content__inner::-webkit-scrollbar:horizontal {
	height: 5px;
}
.modal-content__inner::-webkit-scrollbar-thumb {
	background-color: #00B10C;
	border-radius: 10px;
}
.modal-content__inner::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #D8D8D8;
}
.grid-table {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 0.2fr 1fr;
}
.t-green {
	color: #00B10C !important;
}
.t-red {
	color: #811c00 !important;
}
.modal-content .table-main {
	padding: 0;
	font-weight: 600;
	color: #6d6d6d;
}
.modal-content .table-main thead {
	color: #000;
}
.modal-content .table-main td:first-child {
	color: #000;
}
.modal-content .table-main tr:last-child td,
.modal-content .table-main td,
.modal-content .table-main th {
	padding: 22px;
	font-size: inherit;
	border-bottom: 1px #D8D8D8 solid;
	border-right: 1px #D8D8D8 solid;
}
.modal-content .table-main tr td:last-child,
.modal-content .table-main th:last-child {
	border-right: none;
}
.modal-content .table-main th:not(:first-child),
.modal-content .table-main td:not(:first-child) {
	text-align: center;
}
.modal-content .table-main td:first-child {
	width: 29%;
}
.grid-modal_secondary {
	grid-template-columns: 1fr 2.2fr;
}
.title-info span {
	color: #00B10C;
}
.info-main__list {
	column-gap: 33px;
	font-size: 13px;
	line-height: 120%;
	font-weight: 600;
	padding: 0;
	margin: 0;
	columns: 3;
}
.info-main__list li {
	break-inside: avoid;
}
#modal-monetization-2 .modal-content .table-main tr:last-child td,
#modal-monetization-2 .modal-content .table-main td,
#modal-monetization-2 .modal-content .table-main th {
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
}
.grid-modal+.grid-modal {
	margin-top: 40px;
}
#modal-monetization-2 .modal-content .table-main td:first-child {
	width: 25%;
}
.info-main_third .line-info {
	grid-template-columns: 2.4fr 1fr;
}
.image-graph img {
	max-width: 100%;
	height: auto;
	border-radius: 6px;
	border: 1px solid #D8D8D8;
}
.grid-modal_third {
	grid-template-columns: 1fr 2.1fr;
}
.descr-info {
	color: #8d8d8d;
	font-weight: 600;
}
#modal-monetization-3 .modal-content .table-main td:first-child {
	width: 40%;
}
#modal-monetization-3 .modal-content .table-main td {
	padding-top: 8px;
	padding-bottom: 8px;
}
#modal-monetization-3 .grid-table .title-info {
	margin-bottom: 40px;
	padding-left: 0;
	padding-right: 0;
}
.grid-modal_third .line-info {
	margin-bottom: 40px;
	gap: 12px;
}
.info-main__title {
	font-size: 26px;
	margin-bottom: 25px;
	font-weight: 700;
	color: #00B10C;
	line-height: 120%;
}
.info-main__ul {
	font-size: 18px;
	line-height: 120%;
	font-weight: 600;
	padding: 0;
	padding-left: 20px;
	margin: 0;
}
.info-main__ul li {
	margin-bottom: 10px;
}
.info-main__ul li:last-child {
	margin-bottom: 0;
}
.info-main_big {
	font-size: 20px;
	padding: 33px;
	line-height: 120%;
}
.info-main.info-main_primary.info-main_big .line-info {
	margin-bottom: 45px;
}
.info-main_simple {
	margin-bottom: 14px;
	padding-left: 33px;
	padding-right: 33px;
	flex: 1;
}
.info-main_simple:last-child {
	margin-bottom: 0;
}
.info-main__head {
	font-size: 20px;
	margin-bottom: 25px;
	gap: 15px;
	line-height: 120%;
	font-weight: 600;
	display: flex;
	align-items: center;
}
.info-main__head img {
	width: 29px;
	flex: none;
	height: auto;
}
.modal-content .table-main.table-main_big table tr td,
.modal-content .table-main.table-main_big table tr th {
	font-size: 20px;
	padding-top: 19px;
	padding-bottom: 19px;
	line-height: 120%;
}
.table-main.table-main_big {
	margin-top: 31px;
}
.modal-block {
	display: none;
}
.item-card__content {
	padding-right: 55px;
	position: relative;
	display: block;
}
.item-card__btn {
	width: 40px;
	height: 40px;
	border-radius: 4px;
	bottom: 0;
	right: 0;
	position: absolute;
	display: block;
	border: 2px solid #00B10C;
}
.item-card__btn::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/plus.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 19px auto;
}
.grid-modal_secondary .line-info {
	grid-template-columns: 1.5fr 1fr;
}
.body_modal {
	overflow: hidden;
}
.modal-content::after {
	position: absolute;
	display: block;
	content: " ";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 118px;
	pointer-events: none;
	background: linear-gradient(0deg, #FDFDFD 39.52%, rgba(253, 253, 253, 0) 100%);
}

.consultation__grid {
	display: block;
}
.footer .animation,
.consultation {
	background-color: #C6FF80;
}

/*redesign*/
.hero {
	z-index: 1;
	position: relative;
}
.slider-hero__item {
	padding-top: 195px;
	min-height: 800px;
	position: relative;
	z-index: 1;
}
.hero__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.hero__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: initial;
}
.hero__image::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 24.38%);
}
.hero__title {
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 20px;
	max-width: 948px;
	line-height: 130%;
	text-transform: uppercase;
	font-weight: 700;
}
.hero__descr {
	font-size: 24px;
	margin-bottom: 40px;
	max-width: 675px;
	line-height: 150%;
	font-weight: 600;
}
.hero .btn-main {
	border-radius: 25px;
}
.controls-hero .slick-dots {
	position: relative;
	justify-content: flex-start;
	bottom: 0;
	top: 0;
	left: 0;
}
.controls-hero {
	position: absolute;
	bottom: 45px;
	left: 0;
	width: 100%;
	z-index: 2;
}
.controls-hero .slick-dots {
	gap: 15px;
}
.controls-hero .slick-dots li button,
.controls-hero .slick-dots li {
	width: 14px;
	height: 14px;
}
.controls-hero .slick-dots li button {
	background: #fff;
}
.controls-hero .slick-dots li.slick-active button {
	background: #00B10C;
}
.blog,
.cycle,
.directions {
	padding: 150px 0;
}
.blog .head-section,
.directions .head-section {
	padding-top: 0;
}
.directions__grid {
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.item-direction {
	background: #062617;
	border-radius: 25px;
	display: block;
	text-decoration: none;
	overflow: hidden;
}
.item-direction__image {
	height: 259px;
	width: 100%;
	overflow: hidden;
	display: block;
}
.item-direction__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 1.5s;
}
.item-direction__content {
	padding: 24px 20px;
	font-size: 26px;
	line-height: 150%;
	gap: 10px;
	color: #fff;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-direction__arrow {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #00B10C;
	border-radius: 9px;
	flex: none;
}
.item-direction__arrow svg {
	transition: all 0.3s;
}
.process {
	padding: 60px 0;
	background: #C6FF80;
}
.process .descr-section {
	max-width: 840px;
	font-size: 19px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 400;
}
.process__grid-top {
	gap: 15px;
	display: grid;
	grid-template-columns: 0.75fr 1fr;
}
.process__grid-bottom,
.process__grid-two {
	gap: 15px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.process__grid-bottom {
	margin-top: 16px;
}
.item-process {
	padding: 30px 38px;
	font-size: 18px;
	line-height: 150%;
	border-radius: 25px;
	color: #454545;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fff;
	border: 1px #D8D8D8 solid;
	position: relative;
	z-index: 1;
}
.item-process__value {
	font-size: 64px;
	margin-bottom: 15px;
	line-height: 120%;
	font-weight: 600;
	color: #00B10C;
}
.item-process__value span {
	font-size: 44px;
}
.item-process--main {
	background: linear-gradient(134deg, #f0fbe9 31.29%, #fbfefa 100%);
}
.process__grid-bottom .item-process {
	min-height: 100%;
}
.item-process p {
	margin: 0;
}
.item-process__value small {
	font-size: 32px;
	line-height: 120%;
}
.item-process__image {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.item-process__image img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.process__grid-top .item-process p {
	max-width: 242px;
}
.process__grid-bottom .item-process p {
	max-width: 397px;
}
.cycle .head-section,
.process .head-section {
	padding-top: 0;
}
.item-cycle {
	padding: 40px;
	font-size: 18px;
	max-width: 565px;
	line-height: 150%;
	font-weight: 400;
	color: #282B29;
	border: 1px solid #D8D8D8;
	border-radius: 25px;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	background: #fff;
	transition: all 0.3s;
	position: relative;
}
.item-cycle p {
	margin: 0;
}
.item-cycle__head {
	margin-bottom: 32px;
	gap: 23px;
	display: flex;
	align-items: center;
}
.item-cycle__count {
	width: 70px;
	height: 70px;
	font-size: 30px;
	line-height: 150%;
	text-align: center;
	color: #017601;
	border-radius: 9px;
	font-weight: 700;
	background: #EFFFE0;
	color: #017601;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.item-cycle__title {
	font-size: 24px;
	line-height: 150%;
	font-weight: 600;
	color: #282B29;
}
.item-cycle--2 {
	margin-right: 158px;
	margin-bottom: 81px;
	margin-top: -30px;
	margin-left: auto;
}
.item-cycle--3 {
	margin-left: 160px;
}
.item-cycle--4 {
	margin-bottom: 93px;
	margin-top: -30px;
	margin-left: auto;
}
.item-cycle--5 {
	margin: 0 auto;
}
.item-cycle::after {
	position: absolute;
	display: block;
	content: " ";
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	pointer-events: none;
}
.item-cycle--1::after {
	width: 435px;
	height: 190px;
	top: 71px;
	left: 100%;
	margin-left: 5px;
	background-image: url(../img/ic_arrow1.svg);
}
.item-cycle--2::after {
	margin-right: 16px;
	right: 100%;
	top: 88px;
	width: 261px;
	height: 239px;
	background-image: url(../img/ic_arrow2.svg);
}
.item-cycle--3::after {
	width: 435px;
	height: 131px;
	top: 84px;
	left: 100%;
	margin-left: 16px;
	background-image: url(../img/ic_arrow3.svg);
}
.item-cycle--4::after {
	margin-right: 19px;
	right: 100%;
	top: 84px;
	width: 171px;
	height: 253px;
	background-image: url(../img/ic_arrow4.svg);
}
.cycle__button {
	padding-top: 41px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cycle__button .btn-main {
	border-radius: 14px;
}
.advantages {
	padding-bottom: 107px;
	background-image: url(../img/bg_advantages2.webp);
}
.item-card--main .item-card__image,
.item-card--main .item-card__image img,
.item-card.item-card--main {
	border-radius: 25px;
}
.item-card--main .item-card__content {
	padding-right: 0;
}
.item-card--main .item-card__title {
	margin-bottom: 34px;
}
.item-card.item-card--main {
	padding: 20px;
	padding-bottom: 25px;
}
.blog__bottom {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.blog__bottom .btn-main {
	border-radius: 25px;
	width: 291px;
}
.about {
	padding: 150px 0;
}
.about__main {
	padding: 95px 62px;
	padding-bottom: 75px;
	font-size: 18px;
	line-height: 150%;
	font-weight: 500;
	color: #fff;
	background-color: #062617;
	box-shadow: 0 15px 30px 0 rgba(171, 201, 190, 0.1);
	border-radius: 25px;
	background-image: url(../img/flash.svg);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: auto 100%;
	position: relative;
	z-index: 1;
}
.about__content {
	max-width: 746px;
}
.about__title {
	font-size: 20px;
	margin-bottom: 35px;
	margin-top: 0;
	line-height: 150%;
	font-weight: 700;
}
.about__bottom {
	padding-top: 30px;
	gap: 30px;
	display: flex;
	align-items: center;
}
.about__descr {
	line-height: 150%;
	font-weight: 600;
	color: #00B10C;
}
.about__name {
	font-size: 22px;
	line-height: 150%;
	font-weight: 600;
	color: #00B10C;
}
.about__bottom .btn-main {
	width: 291px;
	border-radius: 14px;
}
.about__image {
	right: 102px;
	bottom: 0;
	height: 100%;
	position: absolute;
	z-index: -1;
}
.about__image img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
}
.consultation__form--main {
	max-width: 968px;
}
.consultation__wrap {
	gap: 28px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.item-form textarea {
	height: 241px;
	padding-top: 21px;
	resize: none;
}
.item-form textarea,
.item-form input,
.item-form select {
	border-radius: 14px;
}
.consultation__form--main .btn-main {
	max-width: 292px;
	display: flex;
	margin: 0 auto;
	border-radius: 14px;
}
.footer--main {
	padding-top: 60px;
}
.consultation--main {
	padding: 90px 0;
}
.socials-main.socials-main--page a {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background: #00B10C;
	display: flex;
	align-items: center;
	justify-content: center;
}
.socials-main.socials-main--page img {
	width: auto;
	opacity: 1 !important;
}
.partners__items {
	gap: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.partners__items-unit img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.partners {
	padding-bottom: 0;
}
.slider-marquee:not(.slick-initialized)>*:not(:first-child) {
	display: none;
}
.slider-marquee .slick-track {
	display: flex !important;
	align-items: center;
}
.slider-marquee .slick-slide {
	height: inherit !important;
}
.slider-marquee .slick-slide {
	padding: 0 12px;
}
.slider-marquee .slick-list {
	margin: 0 -12px;
}
.slider-partners .slick-track {
	display: flex !important;
	align-items: center;
}
.slider-partners .slick-slide {
	padding: 0 10px;
	height: inherit !important;
}
.slider-partners .slick-list {
	margin: 0 -10px;
}
.slider-partners:not(.slick-initialized)>*:not(:first-child) {
	display: none;
}
.slider-partners {
	padding-bottom: 40px;
}
.slider-hero__item--4,
.slider-hero__item--3,
.slider-hero__item--2 {
	color: #fff;
}
.slider-hero__item--4 .hero__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.slider-hero__item--3 .hero__image::after,
.slider-hero__item--2 .hero__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
}