/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1760px) {
    .modal-content {
        font-size: 13px;
        width: 1400px;
        padding: 40px 50px;
    }
    .title-modal {
        font-size: 27px;
        margin-bottom: 50px;
    }
    #modal-monetization-3 .grid-table .title-info {
        margin-bottom: 34px;
    }
    .info-main_big {
        font-size: 18px;
        padding: 30px;
    }
    .modal-content .table-main.table-main_big table tr td, .modal-content .table-main.table-main_big table tr th {
        font-size: 17px;
    }
    .info-main {
        padding: 20px;
    } 
}
@media only screen and (max-width : 1550px) {
    .wrapper {
        font-size: 14px;
    }
    .menu__list {
        gap: 25px;
    }
    .header__search input {
        height: 42px;
        padding-left: 43px;
        font-size: 14px;
        padding-right: 13px;
        background-size: 19px;
        background-position: center left 10px;
    }
    .open-search {
        width: 42px;
        height: 42px;
    }
    .menu__list>li {
        gap: 3px;
    }
    .dropdown-main__arrow,
    .menu__arrow {
        width: 8px;
        height: 7px;
    }
    .logo img {
        width: 138px;
    }
    .header {
        top: 35px;
    }
    .menu__list li ul {
        width: 270px;
    }

    .cta__title, .billbord__title {
        font-size: 57px;
        margin-bottom: 20px;
    }
    .billbord__descr {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .billbord__text {
        font-size: 16px;
        max-width: 723px;
        margin-bottom: 33px;
    }
    .btn-main {
        height: 56px;
        font-size: 14px;
        padding: 0 28px;
    }
    .billbord {
        min-height: 670px;
    }

    .head-section {
        padding-top: 80px;
        padding-bottom: 45px;
    }
    .name-section {
        font-size: 14px;
        padding: 8px 18px;
        margin-bottom: 18px;
    }
    .title-section {
        font-size: 26px;
    }
    .offers .head-section {
        padding-top: 56px;
    }
    .info-about {
        font-size: 16px;
        padding: 26px;
        max-width: 705px;
    }
    .offers__right {
        padding-left: 18px;
    }
    .offers__head {
        padding: 23px;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .offers__text p {
        margin-bottom: 19px;
    }
    .offers__text {
        padding: 15px 20px;
    }
    .offers__top {
        padding-bottom: 42px;
    }
    .advantages__item, .offers__item {
        padding: 30px
    }
    .advantages__icon, .offers__icon {
        width: 55px;
        height: 55px;
        margin-bottom: 20px;
    }
    .offers__title {
        font-size: 21px;
        margin-bottom: 28px;
    }
    .advantages__item p, .offers__item p {
        margin-bottom: 15px;
    }

    .markets {
        padding-top: 25px;
        padding-bottom: 115px;
    }
    .item-card {
        padding: 22px 15px;
        font-size: 16px;
    }
    .item-card__image {
        height: 227px;
        margin-bottom: 18px;
    }
    .item-card__title {
        margin-bottom: 12px;
    }

    .cta {
        padding: 100px 0;
    }
    .cta__title {
        margin-bottom: 20px;
    }
    .cta__descr {
        font-size: 17px;
        max-width: 560px;
        margin-bottom: 26px;
    }

    .history {
        padding: 120px 0;
        font-size: 16px;
    }
    .history .head-section {
        padding-bottom: 26px;
    }
    .history__descr {
        margin-bottom: 25px;
    }
    .timeline {
        margin-left: 39px;
        margin-top: 50px;
    }
    .timeline__item {
        margin-bottom: 35px;
        padding-left: 28px;
    }
    .timeline__title {
        font-size: 17px;
        margin-bottom: 8px;
    }
    .timeline__year {
        padding: 4px 13px;
        margin-bottom: 9px;
        font-size: 14px;
    }
    .timeline__item::before {
        top: 9px;
    }
    .timeline__item p {
        margin-bottom: 19px;
    }

    .advantages {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .advantages__item {
        padding: 25px 15px;
    }
    .advantages__title {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .descr-section {
        font-size: 16px;
        margin-top: 15px;
    }
    .advantages .head-section {
        max-width: 780px;
        padding-bottom: 33px;
    }

    .about-us {
        padding-top: 120px;
    }
    .about-us__item {
        padding: 26px 14px;
        margin-bottom: 16px;
        gap: 15px;
    }
    .about-us__icon {
        width: 41px;
        height: 41px;
    }
    .about-us__items {
        margin-right: 30px;
    }
    .about-us__info {
        padding: 21px 20px;
        font-size: 16px;
        margin-right: 3px;
        margin-top: 22px;
    }
    .about-us__main {
        font-size: 16px;
        margin-right: 55px;
    }
    .about-us .head-section {
        padding-bottom: 22px;
    }
    .about-us p {
        margin-bottom: 15px;
    }
    .about-us__image {
        margin-left: -18px;
        height: 429px;
    }


    .callback__block {
        padding: 50px;
        padding-bottom: 45px;
        background-position: center right 60px;
    }
    .callback .title-section {
        max-width: 660px;
        margin-bottom: 30px;
    }

    .joining {
        padding: 120px 0;
    }
    .table-main {
        padding: 28px 45px;
    }
    .table-main td {
        font-size: 16px;
    }
    .value-td {
        min-width: 70px;
    }
    .table-main th, .table-main td {
        padding: 12px 10px;
    }
    .joining__count {
        width: 55px;
        height: 55px;
        margin-bottom: 20px;
        font-size: 22px;
    }
    .joining__step {
        padding: 15px;
    }
    .joining .head-section {
        max-width: 490px;
        padding-bottom: 28px;
    }

    .parametrs {
        padding-bottom: 100px;
    }
    .parametrs__text {
        font-size: 16px;
    }
    .parametrs__text p {
        margin-bottom: 23px;
    }
    .parametrs__item {
        padding: 14px 18px;
        gap: 18px;
        margin-bottom: 17px;
    }
    .parametrs__value {
        width: 167px
    }

    .partners {
        padding-bottom: 120px;
    }

    .chief {
        padding-bottom: 120px;
    }
    .chief__block {
        padding: 25px;
        font-size: 17px;
    }
    .chief__title {
        font-size: 20px;
        margin-bottom: 22px;
    }
    .chief__subtitle {
        margin-top: 22px;
    }
    .chief__name {
        font-size: 21px;
    }
    .chief__logo img {
        width: 155px;
    }
    .chief__content {
        padding-right: 15px;
        padding-left: 0;
    }
    .chief__image {
        height: 300px;
        margin-right: 15px;
    }

    .numbers {
        padding-bottom: 120px;
    }
    .numbers__item {
        font-size: 15px;
        padding: 28px 26px;
        padding-bottom: 39px;
    }
    .numbers__value {
        font-size: 38px;
        margin-bottom: 11px;
    }

    .consultation {
        padding: 60px 0;
    }
    .consultation .descr-section {
        max-width: 652px;
    }
    .consultation .head-section {
        padding-bottom: 32px;
    }
    .item-form textarea,
    .item-form select,
    .item-form input {
        height: 60px;
        padding: 0 16px;
        font-size: 14px;
    }
    .item-form__descr {
        font-size: 11px;
        left: 115px;
    }
    .item-form_capacity .item-form__descr {
        left: 90px;
    }
    .item-form_power input {
        padding-right: 104px;
    }
    .item-form_capacity input {
        padding-right: 125px;
    }
    .item-form_power input {
        padding-right: 103px;
    }

    .footer {
        padding-bottom: 65px;
    }
    .footer__nav li {
        margin-bottom: 14px;
    }
    .footer__title {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer__logo img {
        width: 170px;
    }
    .footer__descr {
        margin-top: 30px;
        margin-bottom: 13px;
    }
    .footer__location {
        margin-bottom: 17px;
    }
    .footer__contact {
        margin-bottom: 14px;
    }
    .footer .socials-list {
        margin-top: 32px;
    }
    .socials-list {
        gap: 19px;
    }
    .socials-list a {
        width: 38px;
        height: 38px;
    }
    .footer__copyright {
        font-size: 11px;
        margin-top: 32px;
    }
    .consultation__form {
        max-width: 440px;
    }
    .footer .animation {
        margin-bottom: 50px;
    }
    .billbord__content {
        max-width: 775px;
    }
    .news .item-card__title {
        margin-bottom: 23px;
    }
    .news {
        padding-bottom: 120px;
    }
    .news .head-section {
        padding-bottom: 30px;
    }
    .news {
        padding-bottom: 100px;
    }
    .header__wrapper .phone-main {
        margin-left: -15px;
    }
    .header__wrapper .socials-main {
        margin-right: 5px;
    }
    .header__right {
        gap: 16px;
    }

    .modal-wrap {
        padding: 0 30px;
    }
    .modal-content__inner {
        padding-right: 20px;
    }
    .title-info {
        font-size: 16px;
        padding: 15px;
        padding-top: 0;
    }
    .title-modal {
        font-size: 24px;
        margin-bottom: 34px;
    }
    .grid-modal {
        gap: 15px;
    }
    .modal-content .table-main tr:last-child td, .modal-content .table-main td, .modal-content .table-main th {
        padding: 15px;
    }
    .modal-close {
        top: 37px;
        right: 37px;
    }
    .grid-modal_secondary {
        grid-template-columns: 1fr 2.4fr;
    }
    #modal-monetization-2 .modal-content .table-main tr:last-child td, #modal-monetization-2 .modal-content .table-main td, #modal-monetization-2 .modal-content .table-main th {
        font-size: 12px;
    }
    .grid-modal_third .line-info {
        margin-bottom: 32px;
    }
    .info-main_big {
        font-size: 15px;
        padding: 20px;
    }
    .info-main__ul {
        font-size: 15px;
    }
    .info-main__title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .info-main.info-main_primary.info-main_big .line-info {
        margin-bottom: 35px;
    }
    .info-main__head {
        font-size: 18px;
        margin-bottom: 22px;
    }
    .grid-table {
        margin-top: 35px;
        grid-template-columns: 0.25fr 1fr;
    }
    .info-main_third .line-info {
        grid-template-columns: 2.2fr 1fr;
    }
    .modal-content .table-main.table-main_big table tr td, .modal-content .table-main.table-main_big table tr th {
        font-size: 15px;
    }
    .item-card__btn {
        width: 32px;
        height: 32px;
    }
    .item-card__btn::before {
        background-size: 16px auto;
    }
    .item-card__content {
        padding-right: 43px;
    }

    /*redesign*/
    .item-cycle {
        padding: 30px;
        font-size: 16px;
        max-width: 490px;
    }
    .item-cycle__head {
        margin-bottom: 28px;
        gap: 18px;
    }
    .item-cycle__title {
        font-size: 21px;
    }
    .item-cycle__count {
        width: 65px;
        height: 65px;
        font-size: 26px;
    }
    .item-cycle--2 {
        margin-right: 70px;
        margin-bottom: 56px;
    }
    .item-cycle--3 {
        margin-left: 65px;
    }
    .item-cycle--4 {
        margin-bottom: 65px;
    }
    .item-cycle--1::after {
        width: 366px;
        height: 143px;
        top: 90px;
    }
    .item-cycle--2::after {
        top: 106px;
        width: 204px;
        height: 163px;
    }
    .item-cycle--3::after {
        width: 349px;
        height: 104px;
        top: 81px;
    }
    .item-cycle--4::after {
        top: 74px;
        width: 120px;
        height: 233px;
    }
    .hero__title {
        font-size: 44px;
        margin-bottom: 17px;
        max-width: 838px;
    }
    .hero__descr {
        font-size: 21px;
        margin-bottom: 30px;
        max-width: 645px;
    }
    .slider-hero__item {
        padding-top: 175px;
        min-height: 715px;
    }
    .blog, .cycle, .directions {
        padding: 120px 0;
    }
    .item-direction__image {
        height: 220px;
    }
    .item-direction__content {
        padding: 19px 18px;
        font-size: 20px;
    }
    .item-direction__arrow svg {
        width: 40px;
        height: 40px;
    }
    .item-direction__arrow {
        width: 52px;
        height: 52px;
    }
    .item-process {
        padding: 25px;
        font-size: 16px;
    }
    .item-process__value {
        font-size: 58px;
        margin-bottom: 10px;
    }
    .item-process__value span {
        font-size: 36px;
    }
    .process__grid-top .item-process p {
        max-width: 211px;
    }
    .item-card--main .item-card__title {
        margin-bottom: 24px;
    }
    .about__main {
        padding: 63px 47px;
        padding-bottom: 57px;
        font-size: 16px;
    }
    .about__name {
        font-size: 20px;
    }
    .about__image {
        right: 55px;
    }
    .consultation__form--main {
        max-width: 900px;
    }
    .item-form textarea {
        height: 220px;
        padding-top: 20px;
    }
    .about__content {
        max-width: 670px;
    }
    .controls-hero .slick-dots li button, .controls-hero .slick-dots li {
        width: 10px;
        height: 10px;
    }
    .controls-hero .slick-dots {
        gap: 12px;
    }
    .about {
        padding: 120px 0;
    }
    .partners {
        padding-bottom: 0;
    }
    .partners__items-unit {
        padding: 0 15px;
    }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .wrapper {
        font-size: 12px;
    }
    .header__search input {
        height: 36px;
        padding-left: 32px;
        font-size: 12px;
        padding-right: 10px;
        background-size: 14px;
        background-position: center left 7px;
    }
    .open-search {
        width: 36px;
        height: 36px;
    }
    .open-search::after, .open-search::before {
        background-size: 18px auto;
    }
    .logo img {
        width: 115px;
    }
    .cta__title, .billbord__title {
        font-size: 45px;
        margin-bottom: 20px;
    }
    .billbord__descr {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .billbord__text {
        font-size: 14px;
        max-width: 628px;
        margin-bottom: 25px;
    }
    .offers__head {
        padding: 16px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .offers__text {
        padding: 10px 15px;
    }
    .head-section {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .offers__right {
        padding-left: 0;
    }
    .name-section {
        font-size: 12px;
        padding: 7px 16px;
        margin-bottom: 14px;
    }
    .name-section {
        font-size: 12px;
        padding: 7px 16px;
        margin-bottom: 14px;
    }
    .offers__top {
        padding-bottom: 25px;
    }
    .advantages__item, .offers__item {
        padding: 20px;
    }
    .offers__title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .markets .head-section {
        padding-bottom: 30px;
    }
    .item-card__image {
        height: 180px;
    }
    .item-card {
        padding: 19px 13px;
        font-size: 14px;
    }
    .markets {
        padding-bottom: 90px;
    }
    .cta__descr {
        font-size: 15px;
        max-width: 493px;
        margin-bottom: 23px;
    }
    .cta {
        padding: 80px 0;
    }

    .history {
        padding: 100px 0;
        font-size: 14px;
    }
    .title-section {
        font-size: 23px;
    }
    .history .head-section {
        padding-bottom: 15px;
    }
    .descr-section {
        font-size: 14px;
        margin-top: 12px;
    }
    .advantages .head-section {
        max-width: 666px;
    }
    .advantages__icon, .offers__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 16px;
        padding: 12px;
    }

    .about-us {
        padding-top: 100px;
    }
    .about-us__item {
        padding: 21px 11px;
        margin-bottom: 15px;
        gap: 10px;
    }
    .about-us__icon {
        width: 35px;
        height: 35px;
        padding: 6px;
    }
    .about-us .head-section {
        padding-bottom: 16px;
    }
    .about-us__info {
        padding: 17px 15px;
        font-size: 14px;
        margin-right: 0px;
        margin-top: 17px;
    }
    .about-us p {
        margin-bottom: 10px;
    }
    .about-us__image {
        margin-left: -23px;
        height: 373px;
    }

    .callback .title-section {
        max-width: 584px;
        margin-bottom: 25px;
    }
    .callback__block {
        padding: 45px;
        padding-bottom: 40px;
        background-position: center right 32px;
    }

    .joining {
        padding: 100px 0;
    }
    .table-main td {
        font-size: 14px;
    }
    .table-main th, .table-main td {
        padding: 8px;
    }
    .value-td {
        min-width: 58px;
    }
    .joining__step {
        padding: 10px;
    }
    .joining__count {
        width: 50px;
        height: 50px;
        margin-bottom: 16px;
        font-size: 18px;
    }

    .parametrs__text {
        font-size: 14px;
    }
    .parametrs {
        padding-bottom: 80px;
    }
    .parametrs__text p {
        margin-bottom: 18px;
    }
    .parametrs__item {
        padding: 11px 14px;
        gap: 14px;
        margin-bottom: 14px;
    }
    .parametrs__value {
        width: 136px;
    }

    .partners__item img {
        max-height: 29px;
    }
    .partners__line {
        gap: 55px;
    }

    .chief {
        padding-bottom: 100px;
    }
    .chief__block {
        padding: 20px;
        font-size: 15px;
    }
    .chief__title {
        font-size: 16px;
        margin-bottom: 18px;
    }
    .chief__content {
        padding: 0;
    }
    .chief__name {
        font-size: 18px;
    }
    .chief__logo img {
        width: 145px;
    }
    .chief__subtitle {
        margin-top: 17px;
    }
    .chief__image {
        height: 265px;
        margin-right: 0;
    }

    .numbers {
        padding-bottom: 100px;
    }
    .numbers__item {
        font-size: 13px;
        padding: 25px 15px;
        padding-bottom: 26px;
    }
    .numbers__value {
        font-size: 31px;
    }

    .consultation {
        padding: 50px 0;
    }
    .consultation .descr-section {
        max-width: 578px;
    }
    .consultation .head-section {
        padding-bottom: 23px;
    }
    .menu__list {
        gap: 13px;
    }
    .header__right {
        gap: 9px;
    }
    .header__wrapper .phone-main {
        margin-left: 0;
    }
    .info-main__head {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .info-main__ul {
        font-size: 13px;
    }
    .info-main_big {
        font-size: 13px;
        padding: 18px;
    }
    .info-main__title {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .modal-content .table-main.table-main_big table tr td, .modal-content .table-main.table-main_big table tr th {
        font-size: 13px;
    }
    .descr-info {
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 150%;
        font-weight: 400;
    }
    .descr-info br {
        display: none;
    }
    #modal-monetization-3 .grid-table .title-info {
        margin-bottom: 0;
    }
    .modal-content .table-main.table-main_small table {
        width: 100%;
    }
    .modal-content .table-main.table-main_small {
        font-size: 8px;
        border-radius: 6px;
        margin: 0;
        overflow: initial;
        border: 1px solid #D8D8D8;
    }
    .modal-content .table-main.table-main_small tr td,
    .modal-content .table-main.table-main_small tr th {
        padding-left: 3px;
        padding-right: 3px;
    }
    #modal-monetization-3 .modal-content .table-main.table-main_small tr td:first-child {
        width: 38%;
        padding-left: 6px;
        padding-right: 6px;
    }
    .info-main.info-main_func {
        padding: 24px;
    }
    .info-main__title {
        font-size: 19px;
        margin-bottom: 22px;
    }
    .info-main.info-main_big.info-main_primary {
        padding: 24px;
        font-size: 14px;
    }
    .info-main.info-main_primary.info-main_big .line-info {
        margin-bottom: 30px;
    }
    .modal-content .table-main.table-main_big table tr td,
    .modal-content .table-main.table-main_big table tr th {
        font-size: 9px;
    }
    #modal-monetization-3 .modal-content .table-main.table-main_big td:first-child {
        width: 24%;
    }

    /*redesign*/
    .socials-main.socials-main--page a {
        width: 26px;
        height: 26px;
        padding: 5px;
    }
    .socials-main.socials-main--page img {
        max-width: 100%;
        max-height: 100%;
    }
    .hero__title {
        font-size: 37px;
        margin-bottom: 15px;
        max-width: 704px;
    }
    .hero__descr {
        font-size: 18px;
        margin-bottom: 27px;
        max-width: 605px;
    }
    .slider-hero__item {
        padding-top: 143px;
        min-height: 625px;
    }
    .item-direction__image {
        height: 190px;
    }
    .item-direction__content {
        padding: 16px 15px;
        font-size: 17px;
    }
    .item-direction__arrow {
        width: 47px;
        height: 47px;
    }
    .item-direction__arrow svg {
        width: 35px;
        height: 35px;
    }
    .item-direction {
        border-radius: 20px;
    }
    .item-process {
        padding: 20px;
        padding-top: 25px;
        min-height: 220px;
        font-size: 14px;
    }
    .process__grid-bottom .item-process p {
        max-width: 306px;
    }
    .item-process__value {
        font-size: 48px;
        margin-bottom: 5px;
    }
    .item-process__value span {
        font-size: 29px;
    }
    .item-process__value small {
        font-size: 27px;
    }
    .blog, .cycle, .directions {
        padding: 100px 0;
    }
    .item-cycle {
        padding: 25px;
        font-size: 14px;
        max-width: 425px;
    }
    .item-cycle--2 {
        margin-right: 0;
    }
    .item-cycle--3 {
        margin-left: 0;
    }
    .item-cycle__head {
        margin-bottom: 17px;
        gap: 14px;
    }
    .item-cycle__title {
        font-size: 18px;
    }
    .item-cycle__count {
        width: 58px;
        height: 58px;
        font-size: 22px;
    }
    .item-cycle--1::after {
        width: 260px;
        height: 103px;
        top: 90px;
    }
    .item-cycle--2::after {
        top: 92px;
        width: 171px;
        height: 142px;
    }
    .item-cycle--3::after {
        width: 252px;
        height: 79px;
        top: 71px;
    }
    .item-cycle--4::after {
        top: 59px;
        width: 114px;
        height: 201px;
    }
    .item-card.item-card--main {
        padding: 15px;
        padding-bottom: 20px;
    }
    .about__title {
        font-size: 17px;
        margin-bottom: 26px;
    }
    .about__main {
        padding: 42px 34px;
        padding-bottom: 44px;
        font-size: 14px;
    }
    .about__bottom .btn-main {
        width: 235px;
    }
    .about__content {
        max-width: 547px;
    }
    .about__image {
        right: 0;
    }
    .about {
        padding: 100px 0;
    }
    .consultation__wrap {
        gap: 20px;
    }
    .consultation__form--main {
        max-width: 855px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .wrapper {
        font-size: 14px;
        overflow: hidden;
    }

    .header__wrapper .dropdown-main,
    .header__wrapper .header__search,
    .header__wrapper .menu {
        display: none;
    }
    .logo img {
        width: 104px;
    }
    .header {
        padding: 20px 0;
        top: 0;
        position: fixed;
        width: 100%;
    }

    .billbord {
        padding-top: 85px;
        padding-bottom: 25px;
        min-height: initial;
    }
    .billbord__title {
        font-size: 26px;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
        line-height: 130%;
    }
    .cta__title {
        font-size: 36px;
        margin-bottom: 20px;
        line-height: 130%;
    }
    .billbord__descr {
        font-size: 16px;
        line-height: 150%;
    }
    .billbord__text {
        padding: 0 22px;
        margin-bottom: 56px;
    }
    .billbord .btn-main {
        width: 203px;
        padding: 0 5px;
        font-size: 12px;
        height: 49px;
        display: flex;
        margin: 0 auto;
    }
    .btn-main {
        height: 61px;
        padding: 0 30px;
    }

    .name-section {
        padding: 8px 21px;
        margin-bottom: 16px;
    }
    .title-section {
        font-size: 16px;
    }
    .offers .title-section br {
        display: none;
    }
    .head-section {
        padding-top: 30px;
        padding-bottom: 24px;
    }
    .hidden-mob {
        display: none !important;
    }
    .offers__head {
        padding: 16px 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    .offers__text {
        padding: 0;
        margin-top: 20px;
    }
    .offers__item {
        padding: 24px 19px;
    }
    .advantages__icon, .offers__icon {
        width: 40px;
        height: 40px;
        padding: 9px;
        border-radius: 5px;
        margin-bottom: 11px;
    }
    .offers__title {
        font-size: 16px;
        margin-bottom: 17px;
    }
    .advantages__item p, .offers__item p {
        margin-bottom: 16px;
    }

    .markets .head-section {
        padding-top: 0;
        padding-bottom: 24px;
    }
    .markets {
        padding: 60px 0;
    }
    .item-card {
        padding: 14px;
        padding-bottom: 23px;
    }
    .item-card__image {
        height: 206px;
        margin-bottom: 18px;
    }
    .item-card__title {
        font-size: 16px;
        margin-bottom: 11px;
    }

    .cta {
        padding: 67px 0;
        background-attachment: initial;
    }
    .cta__descr {
        font-size: 18px;
        margin-bottom: 36px;
    }
    .cta .btn-main {
        width: 100%;
    }

    .history {
        padding: 60px 0;
        font-size: 16px;
    }
    .history__main {
        text-align: center;
    }
    .history .head-section {
        padding-bottom: 20px;
        text-align: center;
    }
    .timeline {
        margin: 40px 0;
    }
    .timeline__item::before {
        width: 10px;
        height: 10px;
    }
    .timeline__item {
        margin-bottom: 21px;
    }
    .timeline__title {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .timeline__year {
        padding: 6px 14px;
        margin-bottom: 12px;
        font-size: 14px;
    }
    .timeline__item::before {
        top: 11px;
        left: -4px;
    }
    .history__image img {
        width: 100%;
        height: auto;
    }

    .advantages {
        padding-top: 40px;
        padding-bottom: 47px;
    }
    .descr-section {
        margin-top: 16px;
        font-weight: 400;
    }
    .advantages .head-section {
        padding-bottom: 28px;
    }
    .slider-mobile:not(.slick-initialized)>*:not(:first-child) {
        display: none;
    }
    .slider-mobile {
        padding-bottom: 32px;
    }
    .advantages__item {
        padding: 30px 20px;
    }
    .advantages__icon {
        margin-bottom: 20px;
    }
    .advantages__title {
        margin-bottom: 15px;
    }

    .about-us {
        padding-top: 60px;
    }
    .about-us__main {
        font-size: 16px;
        margin: 0;
        text-align: center;
    }
    .about-us .head-section {
        padding-bottom: 20px;
        text-align: center;
    }
    .about-us__main p {
        margin-bottom: 15px;
    }
    .about-us__main p:last-child {
        margin-bottom: 0;
    }
    .about-us__info {
        padding: 16px 30px;
        margin-top: 20px;
    }
    .about-us__wrap>div:nth-child(1),
    .about-us__wrap>div:nth-child(3),
    .about-us .col-lg-5,
    .about-us .col-lg-4 {
        order: -1;
    }
    .about-us__wrap>div:nth-child(1) {
        grid-column: span 12;
    }
    .about-us__wrap>div:nth-child(2) {
        grid-column: span 12;
    }
    .about-us__wrap>div:nth-child(3) {
        grid-column: span 12;
    }
    .about-us__wrap {
        gap: 0;
    }
    .about-us__image {
        margin: 32px 0;
        height: auto;
    }
    .about-us__image img {
        width: 100%;
        height: auto;
        object-fit: initial;
    }
    .about-us__items {
        margin: 0;
    }
    .about-us__item {
        padding: 30px 20px;
        gap: 20px;
        margin-bottom: 12px;
    }
    .about-us__icon {
        width: 46px;
        height: 46px;
        padding: 2px;
    }

    .callback__block {
        padding: 60px 8px;
        text-align: center;
        background-position: center;
        background-image: url(../img/bg_callback_mob.svg);
    }
    .callback .title-section {
        font-size: 18px;
        margin-bottom: 32px;
    }
    .callback .btn-main {
        margin: 0 7px;
        display: flex;
    }

    .joining {
        padding: 60px 0;
    }
    .joining .head-section {
        padding: 0 10px;
        padding-bottom: 32px;
        text-align: center;
        max-width: 100%;
    }
    .joining__wrap {
        display: block;
    }
    .joining .descr-section {
        font-size: 16px;
    }
    .joining__step {
        padding: 20px;
        gap: 27px;
        font-size: 16px;
        display: flex;
        align-items: center;
    }
    .joining__count {
        margin: 0;
        flex: none;
    }
    .joining__count {
        font-size: 26px;
        width: 60px;
        height: 60px;
    }
    .joining .table-main {
        margin-top: 32px;
    }
    .table-main {
        padding: 20px;
    }
    .table-main th, .table-main td {
        padding: 14px 8px;
    }
    .table-main td:nth-child(2),
    .table-main th:nth-child(2) {
        text-align: center;
    }
    .table-main th:last-child, .table-main td:last-child {
        text-align: center;
    }
    .table-main td:first-child {
        width: 28%;
    }
    .value-td {
        min-width: 50px;
    }

    .parametrs {
        padding-bottom: 60px;
    }
    .parametrs .descr-section {
        font-size: 16px;
    }
    .order-mob {
        order: -1;
    }
    .parametrs__value {
        margin-bottom: 6px;
        width: auto;
    }
    .parametrs__item {
        padding: 12px 24px;
        margin-bottom: 12px;
        display: block;
    }
    .parametrs__text {
        font-size: 16px;
        margin-top: 32px;
    }
    .parametrs__text p {
        margin-bottom: 24px;
    }

    .partners {
        padding-bottom: 60px;
    }
    .partners__item img {
        max-height: 20px;
    }
    .partners__line {
        gap: 32px 24px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .partners__wrap {
        max-width: 335px;
        margin: 0 auto;
    }

    .chief {
        padding-bottom: 60px;
    }
    .chief__block {
        padding: 12px;
        font-size: 16px;
    }
    .chief__bottom {
        display: block;
    }
    .chief__image {
        height: 212px;
        margin-bottom: 25px;
    }
    .chief__content {
        padding: 10px 0;
        padding-right: 20px;
    }
    .chief__title {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .chief__subtitle {
        font-size: 14px;
        margin-top: 16px;
    }
    .chief__logo {
        margin-top: 20px;
    }
    .chief__logo img {
        width: 97px;
    }

    .numbers {
        padding-bottom: 60px;
    }
    .numbers__wrap>div:nth-child(1),
    .numbers__wrap>div:nth-child(4) {
        order: -1;
    }
    .numbers__wrap>div:nth-child(2) {
        grid-column: span 2;
    }
    .numbers__wrap>div:nth-child(4) .numbers__value {
        text-transform: uppercase;
    }
    .numbers__value {
        font-size: 20px;
        font-weight: 700;
    }
    .numbers__item {
        padding: 28px 8px;
        font-size: 12px;
    }
    .col-12 .numbers__item {
        padding-top: 37px;
        padding-bottom: 37px;
    }

    .consultation {
        padding: 40px 0;
    }
    .item-form textarea,
    .item-form select,
    .item-form input {
        height: 61px;
        padding: 0 20px;
    }
    .item-form .item-form__descr {
        right: 19px;
        font-size: 12px;
        left: auto;
    }
    .item-form_power input,
    .item-form_capacity input {
        padding-right: 100px;
    }
    .item-form {
        margin-bottom: 12px;
    }
    .consultation .btn-main {
        margin-top: 4px;
    }
    .image-bottom img {
        min-width: 500px;
    }
    .image-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .footer {
        padding-bottom: 50px;
    }
    .footer__logo img {
        width: 120px;
    }
    .footer__descr {
        margin-top: 28px;
        margin-bottom: 16px;
    }
    .footer__nav li {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .footer__title {
        margin-bottom: 24px;
    }
    .footer__location {
        margin-bottom: 20px;
    }
    .footer__location br {
        display: none;
    }
    .footer__contact {
        margin-bottom: 16px;
    }
    .footer .btn-main {
        width: 100%;
        margin-top: 8px;
    }
    .socials-list a {
        width: 49px;
        height: 49px;
    }
    .footer .socials-list {
        margin-top: 0;
        gap: 15px;
    }
    .footer__copyright {
        font-size: 12px;
        margin-top: 45px;
    }
    .footer__line {
        gap: 15px;
        padding-top: 15px;
        display: flex;
        align-self: center;
    }
    .footer__line .btn-main {
        height: 49px;
        font-size: 12px;
        margin: 0;
        flex: 1;
        padding: 0 10px;
    }
    /*Style Sandwich*/
    .sandwich {
        width: 40px;
        height: 40px;
        padding-top: 12px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 20;
        flex: none;
        cursor: pointer;
    }
    .sw-topper {
        position: relative;
        top: 0px;
        width: 20px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #282B29;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sw-bottom {
        position: relative;
        top: 5px;
        width: 20px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #282B29;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sw-footer {
        position: relative;
        top: 10px;
        width: 20px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #282B29;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sandwich.active .sw-topper {
        top: 8px;
        transform: rotate(45deg);
    }
    .sandwich.active .sw-bottom {
        opacity: 0;
    }
    .sandwich.active .sw-footer {
        top: 4px;
        transform: rotate(-45deg);
    }
    .no-scroll {
        overflow: hidden;
    }
    .menu-overlay {
        top: 137px;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        z-index: -1;
        display: none;
    }
    .menu-mobile {
        padding: 10px 15px;
        padding-bottom: 120px;
        top: 100%;
        left: 0;
        width: 100%;
        position: absolute;
        background: #fff;
        max-height: 100vh;
        overflow: auto;
        display: none;
        padding-bottom: 40px;

    }
    .header.fixed,
    .no-scroll .header {
        background: #fff;
    }
    .menu__list {
        display: block;
    }
    .menu__list li {
        flex-wrap: wrap;
        display: block;
        position: relative;
    }
    .menu__list a {
        padding: 10px 0;
        border-bottom: 1px rgba(0, 0, 0, 0.6) solid;
        flex: 1;
        display: flex;
        align-items: center;
    }
    .menu__arrow {
        position: absolute;
        top: 0;
        right: 0;
    }
    .dropdown-main__arrow, .menu__arrow {
        width: 50px;
        height: 40px;
        background-size: initial;
    }
    .header__search {
        width: 100%;
        margin-bottom: 20px;
    }
    .menu-mobile__bottom {
        display: grid;
        padding-top: 15px;
        gap: 10px 0;
        grid-template-columns: 1.5fr 1fr;
    }
    .menu__list li ul::before {
        display: none;
    }
    .menu__list li ul {
        width: 100%;
        margin: 0;
        visibility: visible;
        opacity: 1;
        transition: initial;
        display: none;
        top: 0;
        left: 0;
        background: transparent;
        padding: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        border: none;
        box-shadow: none;
        position: relative;
        transform: none;
    }
    .header__search input {
        height: 40px;
        padding-left: 38px;
        font-size: 14px;
        padding-right: 14px;
        background-size: 17px;
        background-position: center left 10px;
    }
    .dropdown-main.active .dropdown-main__arrow,
    .active>.menu__arrow {
        transform: rotate(180deg);
    }
    .dropdown-main__dropdown,
    .dropdown-main:hover .dropdown-main__dropdown {
        visibility: visible;
        opacity: 1;
        top: 0;
        transform: translateY(0);
        display: none;
        transition: initial;
        position: relative;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
    }

    .slider-mobile .slick-track {
        display: flex !important;
    }
    .slider-mobile .slick-slide {
        padding: 0 10px;
        height: inherit !important;
    }
    .slider-mobile .slick-list {
        margin: 0 -10px;
    }
    .header .wow {
        visibility: visible !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    .header.fixed {
        padding: 10px 0;
    }
    .search-wrap {
        display: none;
    }
    .info-about {
        padding: 20px 30px;
        font-size: 14px;
        margin-top: 139px;
        line-height: 150%;
        font-weight: 500;
    }
    .offers .head-section {
        padding-top: 0;
    }
    .offers {
        padding-top: 48px;
    }
    .parametrs__wrapper {
        max-height: 320px;
        overflow: hidden;
        position: relative;
    }
    .parametrs__wrapper::after {
        position: absolute;
        display: block;
        content: " ";
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(253, 253, 253, 0) 0%, #fdfdfd 72.12%);
    }
    .parametrs__more {
        margin-top: -35px;
        position: relative;
        z-index: 2;
        text-align: center;
    }
    .parametrs__wrapper.active {
        max-height: initial;
    }
    .parametrs__wrapper.active::after {
        display: none;
    }
    .slider-news {
        padding-bottom: 32px;
    }
    .news__button .btn-main {
        width: 202px;
        height: 49px;
        font-size: 12px;
    }
    .news {
        padding-bottom: 60px;
    }
    .news .head-section {
        padding-bottom: 20px;
    }
    .news .item-card__title {
        margin-bottom: 11px;
    }
    .header__wrapper .phone-main {
        width: 40px;
        height: 40px;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__wrapper .phone-main img {
        width: 20px;
        height: auto;
    }
    .header__wrapper .socials-main {
        display: none;
    }
    .offers__top {
        display: block;
    }
    .offers__grid {
        display: block;
    }
    .grid-main>div,
    .offers__grid .offers__item {
        margin-bottom: 20px;
        min-height: initial;
    }
    .grid-main>div:last-child,
    .offers__grid .offers__item:last-child {
        margin-bottom: 0;
    }
    .chief__wrap,
    .grid-main,
    .history__wrap,
    .joining__steps {
        display: block;
    }
    .joining__steps>div {
        margin-bottom: 20px;
    }
    .joining__steps>div:last-child {
        margin-bottom: 0;
    }
    .parametrs__grid {
        grid-template-columns: 1fr;
    }
    .numbers__wrap {
        gap: 20px 8px;
        grid-template-columns: 1fr 1fr;
    }
    .footer__wrap {
        gap: 40px 8px;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__wrap>div:nth-child(4),
    .footer__wrap>div:nth-child(1) {
        grid-column: span 2;
    }
    .modal-content__inner {
        max-height: initial;
        overflow: initial;
        padding: 0;
    }
    .modal-content {
        padding: 25px 20px;
        font-size: 10px;
        border-radius: 30px 30px 0 0;
        line-height: 120%;
    }
    .modal-wrap {
        padding: 0;
        padding-top: 38px;
        overflow: auto;
        display: block;
    }
    .grid-modal {
        display: block;
    }
    .title-modal {
        font-size: 16px;
        padding: 0 30px;
        line-height: 150%;
        margin-bottom: 30px;
    }
    .modal-close {
        width: 40px;
        height: 40px;
        top: 53px;
        right: 15px;
        background-size: 18px auto;
        position: fixed;
        z-index: 10;
    }
    .info-main {
        padding: 18px;
    }
    .grid-table {
        margin-top: 35px;
        display: block;
    }
    .modal-content .table-main {
        margin-right: -20px;
        border-radius: 6px 0 0 6px;
        border-right: none;
        overflow: auto;
    }
    .modal-content .table-main table {
        width: 640px;
    }
    .grid-modal__column {
        margin-bottom: 40px;
    }
    .grid-modal__column:last-child {
        margin-bottom: 0;
    }
    .title-info {
        font-size: 14px;
    }
    .line-info {
        margin-bottom: 23px;
        padding-bottom: 14px;
    }
    .info-main__list {
        padding-left: 20px;
        columns: initial;
    }
    .info-main__list li {
        margin-bottom: 33px;
    }
    .info-main__list li:last-child {
        margin-bottom: 0;
    }
    #modal-monetization-2 .modal-content .table-main tr:last-child td, #modal-monetization-2 .modal-content .table-main td, #modal-monetization-2 .modal-content .table-main th {
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .modal-content::after {
        display: none;
    }

    /*redesign*/
    .hero__title {
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 8px;
        max-width: 100%;
        text-align: center;
    }
    .hero__descr {
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        max-width: 100%;
    }
    .slider-hero__item {
        padding-top: 85px;
        min-height: 560px;
        
        position: relative;
    }
    .hero {
        background-color: #fbfaf9;
        overflow: hidden;
    }
    .hero__image img {
        object-position: 85% 50%;
    }
    .hero .btn-main {
        border-radius: 14px;
        position: absolute;
        width: 202px;
        display: flex;
        padding: 0 5px;
        bottom: 70px;
        margin: 0 auto;
        font-size: 12px;
        height: 49px;
        left: 0;
        right: 0;
    }
    .controls-hero .slick-dots {
        justify-content: center;
    }
    .controls-hero {
        bottom: 30px;
    }
    .hero__image {
        top: 67px;
    }
    .blog, .cycle, .directions {
        padding: 60px 0;
    }
    .directions__grid {
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }
    .item-direction__image {
        height: 94px;
    }
    .item-direction {
        border-radius: 9px;
    }
    .item-direction__content {
        padding: 10px 7px;
        font-size: 11px;
        line-height: 140%;
        flex-direction: column;
        align-items: flex-start;
    }
    .item-direction .link-main {
        font-size: 10px;
        line-height: 150%;
        border: none;
    }
    .process .descr-section {
        font-size: 16px;
    }
    .process__grid-top {
        gap: 6px;
        grid-template-columns: 1fr;
    }
    .item-process__value {
        font-size: 36px;
        margin-bottom: 5px;
        line-height: 120%;
    }
    .item-process__value span {
        font-size: 23px;
    }
    .item-process {
        padding: 20px 15px;
        font-size: 10px;
        line-height: 150%;
        min-height: initial;
    }
    .process__grid-bottom, .process__grid-two {
        gap: 6px;
    }
    .process__grid-bottom {
        grid-template-columns: 1fr;
    }
    .process__grid-bottom {
        margin-top: 6px;
    }
    .process__grid-bottom .item-process p {
        max-width: 148px;
    }
    .process__grid-top .item-process p {
        max-width: 158px;
    }
    .item-cycle {
        width: 240px;
        padding: 24px;
        font-size: 10px;
        margin-bottom: 48px;
        line-height: 150%;
        margin-top: 0;
    }
    .item-cycle--5 {
        margin-right: auto;
        margin-left: 0;
    }
    .item-cycle__head {
        margin-bottom: 19px;
        display: block;
    }
    .item-cycle__count {
        border-radius: 4px;
        width: 27px;
        height: 27px;
        font-size: 12px;
        line-height: 150%;
        margin-bottom: 8px;
    }
    .item-cycle__title {
        font-size: 12px;
        line-height: 150%;
    }
    .item-cycle--3::after,
    .item-cycle--1::after {
        width: 85px;
        height: 199px;
        top: 60px;
        margin-left: 6px;
        left: 100%;
        right: auto;
        background-image: url(../img/arrow_mob1.svg);
    }
    .item-cycle--4::after,
    .item-cycle--2::after {
        width: 85px;
        height: 199px;
        top: 44px;
        margin-left: 6px;
        right: 100%;
        left: auto;
        background-image: url(../img/arrow_mob2.svg);
    }
    .item-cycle--3::after {
        height: 165px;
        top: 65px;
    }
    .item-cycle--4::after {
        height: 165px;
        top: 55px;
        margin-right: 0;
    }
    .cycle .container {
        max-width: 385px;
        margin: 0 auto;
    }
    .cycle__button {
        display: none;
    }
    .item-cycle:last-child {
        margin-bottom: 0;
    }
    .advantages {
        padding: 70px 0;
    }
    .blog__bottom .btn-main {
        width: 202px;
        height: 49px;
        border-radius: 14px;
    }
    .about {
        display: none;
    }
    .consultation__wrap {
        display: block;
    }
    .item-form textarea {
        padding-top: 20px;
    }
    .consultation .btn-main {
        width: 202px;
        height: 49px;
    }
    .consultation {
        padding-bottom: 54px;
    }
    .slider-marquee .slick-list {
        overflow: visible;
    }
    .partners {
        padding-bottom: 0;
        padding-top: 60px;
    }
    .partners__items {
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .partners__items-unit img {
        max-height: 36px;
    }
    .partners__items-unit {
        padding: 0;
        max-width: 46%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .cta {
        background-image: url(../img/bg_cta_mob.jpg);
    }
    .consultation__grid {
        display: block;
    }
}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .parametrs__more,
    .menu-overlay,
    .menu-mobile,
    .sandwich,
    .show-mob {
        display: none !important;
    }
}

@media (min-width: 1550px) {
    .container {
        max-width: 1470px;
    }
}

/*hovers*/
@media (hover: hover) {
    .parametrs__item:hover,
    .socials-main.socials-main--page a:hover,
    .socials-list a:hover,
    .btn-main:hover {
        background: #00a00b;
    }
    .parametrs__item:hover {
        color: #fff;
    }
    .footer__nav a:hover {
        border-color: #fff;
    }
    .menu__list a:hover {
        border-color: #282B29;
    }
    .footer__link:hover {
        border-color: #00B10C;
    }
    .link-main:hover {
        border-color: transparent;
    }
    .socials-main a:hover img {
        opacity: 0.8;
    }
    .item-direction:hover .item-direction__image img {
        transform: scale(1.05);
    }
    .item-direction:hover .item-direction__arrow svg {
        transform: rotate(45deg);
    }
    .item-cycle:hover {
        background: #EFFFE0;
    }
    .item-cycle:hover .item-cycle__count {
        background: #fff;
    }
}

/*mobile hovers*/
@media (hover: none) {
    .parametrs__item:active,
    .socials-list a:active,
    .socials-main.socials-main--page a:active,
    .btn-main:active {
        background: #00a00b;
    }
    .parametrs__item:active {
        color: #fff;
    }
    .footer__nav a:active,
    .menu__list a:active {
        border-color: #fff;
    }
    .menu__list a:active {
        border-color: #282B29;
    }
    .footer__link:active {
        border-color: #00B10C;
    }
    .link-main:active {
        border-color: transparent;
    }
    .socials-main a:active img {
        opacity: 0.8;
    }
    .item-direction:active .item-direction__image img {
        transform: scale(1.05);
    }
    .item-direction:active .item-direction__arrow svg {
        transform: rotate(45deg);
    }
}